@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    Layout = "_LayoutAdmin";
}
@model trainMaster

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Advanced Forms</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Forms</a></div>
                <div class="breadcrumb-item">Advanced Forms</div>
            </div>
        </div>

        <h2 class="section-title">Add a New Trains</h2>
        

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <form asp-action="Add_train" method="post">
        
                    <div class="card">
                      
                        <span class="text-success">@ViewBag.msg</span>
                        <div class="card-header">
                            <h4>Input Text</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Train Name</label>
                                <br />
                            <span class="text-danger" asp-validation-for="trainName"></span>
                                <input type="text" asp-for="trainName" class="form-control">
                            </div>

                            <label>Status</label>
                            <br />
                            <span class="text-danger" asp-validation-for="status"></span>
                            <select asp-for="status" class="form-control" style="width: 100%; margin-right: 10px;">
        
                                <option class="form-control  text-danger" value="">
                                    Select Color :
                                </option>
                                <option>Up</option>
                                <option>Down</option>
                            </select>
                            <br />

                            <div class="form-group">
                                <label>Route Id</label>
                                <br />
                                <span class="text-danger" asp-validation-for="routeId"></span>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="number" asp-for="routeId" class="form-control" >
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <br />
                                    <span class="text-danger" asp-validation-for="trainCategory"></span>
        
                                    <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="text" asp-for="trainCategory" class="form-control" data-indicator="pwindicator">
                                </div>

                            </div>


                            <div class="form-group">

                                <div class="input-group">

                                    <input type="submit" value="Add Trian" class="btn btn-primary" data-indicator="pwindicator">
                                </div>

                            </div>


                        </div>
                    </div>
                </form>


            </div>

        </div>
    </section>
</div>

