
@{
    ViewData["Title"] = "fareCalculateResult";
}
@model compositeModel

<h1>fareCalculateResult</h1>

@* <h1>
    @Model.selectTrain
</h1>


<h1>
    @Model.fromCity
</h1>


<h1>
    @Model.toCity
</h1> *@

