@{
    ViewData["Title"] = "Home Page";
}

@* MAIN SECTION START *@

<div class="container-fluid p-0">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/carousal1.png" alt="Los Angeles" class="d-block img-thumbnail" style="width:100%">
            </div>
            <div class="carousel-item">
                <img src="images/carousal2.png" alt="Chicago" class="d-block img-thumbnail" style="width:100%">
            </div>
            <div class="carousel-item">
                <img src="images/carousal3.png" alt="New York" class="d-block img-thumbnail" style="width:100%">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
 
@* BOOKINGS START *@

<div class="container-fluid mt-3" id="bookingSection">
    <h2 class="mt-1">Book Trains</h2>
    <hr />
    <div class="row shadow-sm mt-lg-4">
        <div class="col-md-4" >
            <input class="form-control" placeholder="From" id="bookingField" />
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="To" id="bookingField" />
        </div>
        <div class="col-md-4">
            <input type="date" class="form-control" id="bookingField" />
        </div>
        
    </div>
    <div class="container mt-lg-4 text-center">
        <a class="btn btn-primary" id="authBtn">Search</a>
    </div>
</div>

@* BOOKINGS END *@


@* TABS START  *@
<div class="container mt-3 p-0">
    <br />
    <!-- Nav tabs -->
    <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="tabsLinks" data-bs-toggle="tab" href="#home">Maharashtra</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabsLinks" data-bs-toggle="tab" href="#menu1">Chhattisgarh</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabsLinks" data-bs-toggle="tab" href="#menu2">Madhya Pradesh</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content p-0">
        <div id="home" class="container tab-pane active">
            <br>
            <div class="container mt-3 p-0">
                <h2>From Mumbai (MMCT)</h2>
                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #F4C430;">
                                <th>To</th>
                                <th>Station Code</th>
                                <th>Fare (3E)</th>
                                <th>Duration</th>               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nagpur</td>
                                <td>NGP</td>
                                <td>₹1,200</td>
                                <td>12 hr 40 min (820Km)</td>
                            </tr>
                            <tr>
                                <td>Nasik Road</td>
                                <td>NK</td>
                                <td>₹600</td>
                                <td>3 hr 35 min (170Km)</td>
                            </tr>
                            <tr>
                                <td>Pune</td>
                                <td>PUNE</td>
                                <td>₹200</td>
                                <td>3 hr 00 min (120Km)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <hr />
            <div class="container-fluid p-0">
            
                <div class="row d-flex">
                    <div class="col-md-4 border-end shadow-sm">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Hatia Express</span>
                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Nagpur</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12811</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,200</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 border-end shadow-sm">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Gitanjali Express</span>

                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Nasik Road</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12859</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,115</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 shadow-sm">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Hatia Express</span>

                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Pune</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12811</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,120</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                </div>
            </div>
          
        </div>
        <div id="menu1" class="container tab-pane fade">
            <br>
            <div class="container mt-3 p-0">
                <center><h2>From Raipur (R)</h2></center>
                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #F4C430;">
                                <th>To</th>
                                <th>Station Code</th>
                                <th>Fare (3E)</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nagpur</td>
                                <td>NGP</td>
                                <td>₹1,200</td>
                                <td>12 hr 40 min (820Km)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container-fluid ">

                <div class="row d-flex">
                    <div class="col-md-4 border-end">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Hatia Express</span>
                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Nagpur</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12811</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,200</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 border-end">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Gitanjali Express</span>

                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Nasik Road</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12859</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,115</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Hatia Express</span>

                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Pune</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12811</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,120</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu2" class="container tab-pane fade">
            <br>
            <div class="container mt-3 p-0">
                <center><h2>From Bhopal (BPL)</h2></center>
                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #F4C430;">
                                <th>To</th>
                                <th>Station Code</th>
                                <th>Fare (3E)</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nagpur</td>
                                <td>NGP</td>
                                <td>₹1,200</td>
                                <td>12 hr 40 min (820Km)</td>
                            </tr>
                            <tr>
                                <td>Nasik Road</td>
                                <td>NK</td>
                                <td>₹600</td>
                                <td>3 hr 35 min (170Km)</td>
                            </tr>
                            <tr>
                                <td>Pune</td>
                                <td>PUNE</td>
                                <td>₹200</td>
                                <td>3 hr 00 min (120Km)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container-fluid ">

                <div class="row d-flex">
                    <div class="col-md-4 border-end">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Hatia Express</span>
                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Nagpur</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12811</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,200</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 border-end">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Gitanjali Express</span>

                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Nasik Road</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12859</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,115</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <i class="fa fa-train" style="color: navy;"></i> <span>Hatia Express</span>

                        <ul>
                            <li style="font-weight: 500;">City :<span style="font-weight: 200;"> Mumbai to Pune</span></li>
                            <li style="font-weight: 500;">Code :<span style="font-weight: 200;"> 12811</span></li>
                            <li style="font-weight: 500;">Fare :<span style="font-weight: 200;"> ₹1,120</span></li>
                            <li style="font-weight: 500;">Class :<span style="font-weight: 200;"> Economy</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* TABS END  *@


@* MAIN SECTION END *@

 @* FILE A COMPLAINT MODAL*@  

<!-- The Modal -->
<div class="modal fade mt-5" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
@* FILE A COMPLAINT MODAL END*@


@* SIGN IN MODAL*@

<!-- The Modal -->
<div class="modal fade mt-5" id="signInModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
@* SIGN IN MODAL END*@
