
@{
    ViewData["Title"] = "myAccount";
}

<h1>
     @Context.Request.HttpContext.Session.GetString("userName") 
    <span class="text-white bg-primary p-1">@ViewBag.success</span>

    <span class="text-white bg-danger p-1">@ViewBag.error</span>

</h1>

