<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Railway_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Railway_Management_System.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-white p-2" id="navBg">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index"><img src="/images/webisiteLogo.png" class="img-fluid" id="navLogo" /></a>

                <button class="navbar-toggler" type="button" id="toggelButton" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <i class="fas fa-bars" id="togglerIcon"></i>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav mx-lg-5 justify-content-between" id="mobileNavlinkMargin">
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-action="Index" style="font-weight: 400;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#" style="font-weight: 400;">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#" style="font-weight: 400;">Privacy Policy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" style="font-weight: 400;">Dropdown</a>
                            <ul class="dropdown-menu" id="dropdownBg">
                                <li><a class="dropdown-item text-black" id="dropdownLink" href="#" style="font-weight: 400;">Link</a></li>
                                <li><a class="dropdown-item text-black" id="dropdownLink" href="#" style="font-weight: 400;">Another link</a></li>
                                <li><a class="dropdown-item text-black" id="dropdownLink" href="#" style="font-weight: 400;">A third link</a></li>
                            </ul>
                        </li>
                        @if (string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-action="Signup" style="font-weight: 400;">Sign up</a>
                            </li>
                        }
                    </ul>
                </div>


            </div>
        </nav>
    </header>

    <div class="container-fluid bg-light mt-3" id="section1">
        <ul class="nav justify-content-center mt-0">
            <li class="nav-item">
                <a class="nav-link p-lg-2" id="HomeLinks" href="#">Train Timings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-lg-2" id="HomeLinks" href="#">Train Schedule</a>

            </li>
            <li class="nav-item">
                <a class="nav-link p-lg-2" id="HomeLinks" href="#">My Bookings</a>

            </li>
        </ul>

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-md-3 p-3 mb-5" style="background-color: darkgreen; border-radius: 15px;">
                    <div class="conntainer d-flex justify-content-center mb-2">
                        @if (string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("userName")))
                        {
                            <a asp-action="Signin" class="btn btn-outline-light" id="authBtn">Sign in</a>
                        }
                        else
                        {
                            <button class="btn btn-outline-light btn-sm">Welcome onboard, 
                                @Context.Request.HttpContext.Session.GetString("userName")
                            </button>

                        }
                        <a href style="font-weight: 500; border-right: dotted white 1px;" class="nav-item nav-link p-2">
                            <i class="fab fa-instagram text-light"></i>
                        </a>
                        <a href style="font-weight: 500;" class="nav-item nav-link"><i class="fab fa-twitter text-light"></i></a>
                        <a href style="font-weight: 500; border-left: dotted white 1px;" class="nav-item nav-link">
                            <i class="fab fa-youtube text-light"></i>
                        </a>
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-light btn-block" id="dgridbtns"
                                data-bs-toggle="modal" data-bs-target="#myModal">
                            File a complaint
                        </button>
                    </div>
                    <hr />

                    <form method="POST" enctype="multipart/form-data" asp-action="">
                        <div class="container p-0">
                            <h3 class="text-center text-light" mt-1" id="">Calculate Fare</h3>
                            <div class="container text-center mt-0 p-0">
                                <select class="form-control bg-light btn-block" id="fareDropdown" >
                                    <option class="text-center">----Select Train----<i class="fab fa-arrow-down"></i></option>
                                    <option class="text-center">Agra Express</option>
                                </select>
                            </div>
                            <br />
                            <div class="container text-center mt-0 p-0">
                                <select class="form-control bg-light btn-block" id="fareDropdown">
                                    <option class="text-center">----From----<i class="fab fa-arrow-down"></i></option>
                                    <option class="text-center">New Delhi</option>
                                </select>
                            </div>
                            <br />
                            <div class="container text-center mt-0 p-0">
                                <select class="form-control bg-light btn-block" id="fareDropdown">
                                    <option class="text-center">----To----<i class="fab fa-arrow-down"></i></option>
                                    <option class="text-center">Mumbai</option>
                                </select>
                                <center><button class="button-64 mt-3" role="button"> <span class="text">Calculate</span> </button></center>


                            </div>

                        </div>
                    </form>

                </div>

                <div class="col-md-9 bg-white mb-5" id="section2">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>


            <div class="container-fluid">
            </div>


        </div>
    </div>




 

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted mt-4">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Connect with us:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-youtube"></i>
                </a>
                
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Indian Railways
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Services
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Quick Links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
