* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navBg{
    background-color: green;
}

#dropdownBg{
    background-color: green;
    border: transparent;
}

#dropdownLink:hover {
    color: white;
    background-color: transparent;

}

#navLogo{
    height:50px;
}

#toggerButton{
    color: white;
}

#togglerIcon{
    font-size: 25px;
}
